@import "./colors.scss";

.color {
  &-normal {
    background-color: $type-normal;
  }
  &-fighting {
    background-color: $type-fighting;
  }
  &-flying {
    background-color: $type-flying;
  }
  &-poison {
    background-color: $type-poison;
  }
  &-rock {
    background-color: $type-rock;
  }
  &-bug {
    background-color: $type-bug;
  }
  &-ghost {
    background-color: $type-ghost;
  }
  &-steel {
    background-color: $type-steel;
  }
  &-fire {
    background-color: $type-fire;
  }
  &-water {
    background-color: $type-water;
  }
  &-grass {
    background-color: $type-grass;
  }
  &-electric {
    background-color: $type-electric;
  }
  &-psychic {
    background-color: $type-psychic;
  }
  &-ice {
    background-color: $type-ice;
  }
  &-dragon {
    background-color: $type-dragon;
  }
  &-dark {
    background-color: $type-dark;
  }
  &-fairy {
    background-color: $type-fairy;
  }
}
